body{
    background-color:#224957 !important;
}
*{
    padding:0px !important;
    margin:0px !important;
}

header{
            color:white !important;
            display:flex;
            justify-content: space-between !important;
            width:100%;
            background-color:#a8dadc !important;
            position:fixed !important;
            height:90px;
            align-items:center;
            margin-bottom:0px !important;
            box-shadow:10px 10px 10px #457b9d !important;
        }
        a{
            text-decoration:none !important;
        }

        #header{
            margin-top:30px !important;    

        }
        #body{
            margin-top:30px !important;            
        }

        #body div {
            margin:20px;
            margin-left:40px;
        }
        nav div {
            display:flex;
        }
        nav div img{
            width:30px;
            height:30px;
            margin-right:30px;
        }
        
        
        nav{
            display:block !important;
            color:red !important;
            /* justify-content: space-between !important; */
        }

        
        table{
            position:fixed !relative;
            margin-top: -60px !important;
        }
        .sidebar{
            margin-left :-250px;
            width:250px !important;
            position:fixed !important;
            height:800px !important;
            /* background:white !important; */
            /* background:#1d3557 !important; */
            background:#2C5861 !important;
            margin-bottom:0px !important;

        }